.background-image {
    -fx-background-image: url('pngtree-ui-material-irregular-geometry-fashion-trend-line-irregular-line-surface-image_4441.jpg');
    -fx-background-size: cover;
    -fx-background-position: center center;
}
